.keyboard {
    width: 800px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.keyboardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
